@import
url('http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600');

@import
url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

header h1 {
    background-color: #851944;
    color: white;
    text-align: center;
}

body{
    font-family: "Crimson Text","Times New Roman", serif;
    background-color: #f2fffc;
    font-size: 120%;             
}

h2{color: black;}

p { text-align: justify;
    font-family: "Times New Roman", serif;
}
    

h1, h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
blockquote {

    background-color: #d9e5e3;

}

aside {
    background-color: #3c1d3d;
    color: #f2fffc;
}
footer {
    background-color: black;
    color: #f2fffc;
}

main a{
    color: #851944;
}
nav a{
    color: #f2fffc;
}


     




